<h2><%=h _("Create New Issue")%></h2>
<%= error_messages_for :issue, :patchset %>
<% form_tag({:controller => :issue, :action => :new}, :method => :post, :multipart => true) do %>
<table>
<tr><th><label for="id_subject"><%=h _("Subject:")%></label></th><td>
<%= text_field :issue, :subject, :size => 60 %>
</td></tr>
<tr><th><label for="id_description"><%=h _("Description:")%></label></th><td>
<%= text_area :issue, :description, :rows => 10, :cols => 60 %>
</td></tr>
<tr><th><label for="id_branch"><%=h _("SVN base:")%></label></th><td>
<%= select :patchset, :branch_id, Branch.find(:all, :order => 'branches.id', :include => [:repository, :category]).collect{|b| ["#{b.repository.name} - #{b.category.name} - #{b.name}", b.id]}, {:include_blank => true} %>
</td></tr>
<tr><th><label for="id_base"><%=h _("Base:")%></label></th><td>
<%= text_field :issue, :base, :size => 60, :maxlength => 1000 %>
</td></tr>
<tr><th><label for="id_reviewers"><%=h _("Reviewers:")%></label></th><td>
<%= text_field :issue, :reviewer_string, :size => 60 %>
</td></tr>
<tr><th><label for="id_data"><%=h _("Data:")%></label></th><td>
<%= file_field :patchset, :data %>
</td></tr>
<tr><th><label for="id_url"><%=h _("Url:")%></label></th><td>
<%= text_field :patchset, :url, :maxlength => 2083, :size => 60 %>
</td></tr>
<tr>
  <td colspan="2">
    <%=h _("There are require, if you use no-access anonymous subversion repository")%>
  </td>
</tr>
<tr><th><label for="id_username"><%=h _("Subversion username:")%></label></th><td>
<%= text_field :patchset, :username %>
</td></tr>
<tr><th><label for="id_password"><%=h _("Subversion password:")%></label></th><td>
<%= password_field :patchset, :password_base %>
</td></tr>
<tr><td>
    <%= submit_tag _("Create Issue") %>
</td></tr>
</table>

<% end %>

<h2><%=h _("Upload Utility")%></h2>

<p><%= _("Tired of uploading files through this form? Download %{upload}, a simple utility that will invoke \"svn diff\" and upload the output for you.") % {:upload => '<a href="/upload.py">upload.py</a>'}%></p>


